.container {
    padding: 40px 32px;
    display: grid;
    gap: 24px;
    justify-items: center;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "btns"
    "experience"
    "contact"
    "info";
}

@media (min-width: 768px) {
    .container{
        padding: 70px 60px;
        height: 100vh;
        align-items: center;
        justify-items: start;
        justify-content: space-between;
        grid-template-areas: 
        "header info"
        "experience emply-1"
        "emply-2 btns";
    }
}